main{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

#img1{
    transform: rotateY(180deg);
    
    position: relative;
    left: 300px;
    
}
#img2{
    
    
}
body{
    background-color: #767676;
}
.red{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    color: black;
    font-size: 2.5rem;
    font-style:italic;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}
#rock{
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    border-style: dotted;
    background-color:black;
    color: white;
    font-size: 30px;
    width: 200px;
    position: relative;
    top: 30px;
    left: 220px;
}
#paper{
    
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    border-style: dotted;
    background-color:black;
    color: white;
    font-size: 30px;
    width: 200px;
    position: relative;
    top: 30px;
    left: 220px;
}

#scessor{
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    border-style: dotted;
    background-color:black;
    color: white;
    font-size: 30px;
    width: 215px;
    position: relative;
    top: 30px;
    left: 220px;
}
#start{
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    border-style: dotted;
    background-color:black;
    color: white;
    font-size: 30px;
    width: 200px;
    position: relative;
    top: 30px;
    left: 220px;
}
button{
    animation: 1.5s 3 button;
    cursor: pointer;
}
button:hover{
    /* transform: scale(0.2); */
    background-color: #081b29;

}
@keyframes button {
    0%{transform:scale(1.2);}
}